*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/modules.xml

.svn/entries

*.xml

*.svn-base

.svn/format

*.db

*.gradle

*.gradle

*.json

*.so

*.so

*.jar

*.class

*.class

*.so

*.java

*.ap_
